body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .header {
    position: fixed;
    top: 0;
    text-align: center;
    background-color: red;
    width:100%;
    left:0;
    height: 70px;
  }

  .header h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .content h2{
    margin-top: 40px;
    padding-top: 40px;
  }
  .blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }
  .blog-preview a{
    text-decoration: none;
  }